section {
  margin-bottom: 60px
}
section:last-child {
  margin-bottom: 0
}
section h2 {
  margin-bottom: 30px
}
button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 15px;
  font-size: 48px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
button:focus {
  outline: none
}
section.flat button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
section.flat button:hover,
section.flat button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
section.flat button:active,
section.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}
div.border button {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: none;
}
section.border button:hover,
section.border button.hover {
  border-color: #346392;
  color: #346392;
}
section.border button:active,
section.border button.active {
  border-color: #27496d;
  color: #27496d;
}
section.gradient button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff9664;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6496c8), to(#346392));
  background-image: -webkit-linear-gradient(top, #6496c8, #346392);
  background-image: -moz-linear-gradient(top, #6496c8, #346392);
  background-image: -o-linear-gradient(top, #6496c8, #346392);
  background-image: -ms-linear-gradient(top, #6496c8, #346392);
  background-image: linear-gradient(top, #6496c8, #346392);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff9664', EndColorStr='#c86432');
  -webkit-box-shadow: inset 0 0 0 1px #27496d;
  -moz-box-shadow: inset 0 0 0 1px #27496d;
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
section.gradient button:hover,
section.gradient button.hover {
  -webkit-box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
  -moz-box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
section.gradient button:active,
section.gradient button.active {
  -webkit-box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
  -moz-box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
section.press button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px #27496d;
  -moz-box-shadow: 0 10px #27496d;
  box-shadow: 0 10px #27496d;
}
section.press button:hover,
section.press button.hover {
  background-color: #417cb8
}
section.press button:active,
section.press button.active {
  background-color: #417cb8;
  -webkit-box-shadow: 0 5px #27496d;
  -moz-box-shadow: 0 5px #27496d;
  box-shadow: 0 5px #27496d;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
@media all and (max-width: 960px) { 
  button {
    font-size: 30px
  }
}
@media all and (max-width: 720px) { 
  button {
    font-size: 20px;
    padding: 10px 30px;
  }
}
@media all and (max-width: 540px) { 
  section {
    text-align: center
  }
  button {
    margin: 0 10px 20px 10px;
    font-size: 16px;
  }
}